*{
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.error{
  height:82vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}